/* Estilos padrão */
.container > h1 {
    color: #f0a141;
}

.login-subtitle {
    font-size: 18px;
}

.form-login > form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 25px;
    border-radius: 47px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.form-login > form > label {
    margin-top: 10px;
    color: #f0a141;
    font-size: 20px;
}

.custom-input {
    outline: none;
    height: 44px;
    border: 2px solid #f0a141;
    border-radius: 27px;
    padding-left: 15px;
}

.custom-input:focus {
    border: 3px solid #f0a141;
}

.custom-button {
    margin-top: 40px;
    outline: none;
    height: 44px;
    border: 2px solid #f0a141;
    background-color: #f0a141;
    color: white;
    border-radius: 27px;
    padding-left: 15px;
    transition: 0.3s;
    font-size: 20px;
}

.custom-button:hover {
    border: 2px solid #f0a141;
    background-color: #dd943c;
}

.custom-button:focus {
    outline: none;
}

.actions {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.actions > a {
    color: #f0a141;
}

.actions > p > a {
    color: #f0a141;
}

a:hover {
    color: #dd943c;
    text-decoration: none;
}

.actions > p > a:hover {
    color: #dd943c;
}

.alert {
    position: fixed;
    bottom: 0;
    right: -300px; 
    width: 300px;
    height: 10%;
    background-color: #f44336ec; 
    color: #fff; 
    padding: 20px;
    transition: right 0.3s ease-in-out; 
  }
  
  .alert.show {
    right: 0; 
  }
  
  /* Estilos para o botão de fechar */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
  }

@media screen and (max-width: 500px) {
    .form-login > form {
        width: auto;
        padding: 15px; 
    }
 
    .custom-input,
    .custom-button {
        width: 100%; 
    }

    .actions {
        padding-top: 20px; 
    }
}
